<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="row-fluid">
	<div class="span2" style="background-color:orange">
		menu on the left
	</div>
	
	<div class="span10">
		<canvas id="gameCanvas"></canvas>
		<script type="text/javascript">
	     	pink();
		 	resize();
			</script>
		
	</div>
</div>
	

<%= image_tag "simba.png", :alt => "Simba" %>

	
	
	
